*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.5%;
}

/* Navbar */

/* .navbar{
    width: 100%;
    height: max-content;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c0041b1;
    backdrop-filter: blur(5px);
}

.hamburger{
    display: none;
}

.navbar--element-one h1{
    font-family: "researcher";
    color: #ffff;
    font-size: 3rem;

}

.navbar--element-one{
    margin-left: 2rem;
}

.navbar--elements{
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
}

.navbar--elements ul{
    list-style-type: none;
}

.navbar--elements ul li{
    display: inline;
}

.navbar--elements a{
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1rem;

} */
/* nav{
    top: 0;
    position: fixed;
    z-index: 1;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    background-color: #1c0041b1;
}

#navbar{
    transition: 0.3s top;
}

.navbar--heading{
    margin-left: 2rem;
    font-family: "researcher";
    font-size: 1rem;
    color: #fff;
}

.navbar--section{
    margin-right: 2rem;
}

.hamburger{
    display: none;
}

.navbar--elements > ul > li{
    list-style-type: none;
    font-size: 1rem;
    display: inline;
    margin-right: 1rem;
}

.navbar--elements > ul > li:nth-child(3){
    margin-right: 0;
}

.navbar--elements > ul > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
} */

.nav--container{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #1c0041b1;
    backdrop-filter: blur(5px);
    position: relative;

  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    font-family: "researcher";
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    .nav--container{
        width: 100%;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #1c0041b1;
      backdrop-filter: blur(5px);;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/* 
.navbar{
    position: fixed;
    top: 0px;
    z-index: 2;
    display: flex;
    background-color: #1c0041b1;
    backdrop-filter: blur(5px);
    width: 100%;
    justify-content: space-between;
    align-items: center;    
    color: #fff;
    font-family: "Jetbrains mono";
    min-height: 3rem;
    height: max-content;
    transition: top 0.3s;
}

.navbar > div:nth-child(1){
    margin-left: 1rem;
}

.navbar > div:nth-child(2){
    margin-right: 1rem;
}

.navbar > div:nth-child(2) > span > a{
    margin-right: 1.5rem;
    font-size: 1rem;
    user-select: none;
    color: #fff;
    text-decoration: none;
}

.navbar > div:nth-child(2) > span:nth-child(3) > a{
    border: 1px solid #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0;
}

.navbar > div:nth-child(2) > span:hover{
    cursor: pointer;
}


.navbar h1{
    font-family: "Researcher";
    font-size: 1.5rem;
    background-image: linear-gradient(#fff, rgba(255, 255, 255, 0.6));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    user-select: none;
    cursor: pointer;
} */


/* Home */

.home{
    background: url("../assests/hero.png");
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home--title{
    text-align: center;
    margin-top: 5rem;
}

.home h1{
    font-family: "Researcher";
    font-size: 8rem;
    background-image: linear-gradient(rgba(207, 197, 197, 0.8) 48.96%, rgba(114, 36, 36, 0.89) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.home h2{
    font-family: "blackpast";
    font-size: 5rem;
    background-image: linear-gradient(rgba(207, 197, 197, 0.8) 48.96%, rgba(114, 36, 36, 0.89) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home--banner{
    font-family: "JetBrains mono";
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 3rem;
}


.home--button{
    font-size: 1.2rem;
    font-family: "JetBrains mono";
    outline: 0;
    border: 3px solid #0F3786;
    border-radius: 2rem;
    color: #fff;
    font-weight: bold;
    padding: 1.2rem 2.5rem;
}


.home--button:hover{
    cursor: pointer;
    background-image: linear-gradient(#0f3786, rgba(103, 15, 134, 0.47));

}

.home a{
    color: #fff;
    text-decoration: none;
}


/* Sponsors */

.hero{
    min-width: 100%;
    max-width: 100%;
    height: 100vh;
    background: #000;
    background-image: linear-gradient(135deg, rgba(17, 32, 72, 0.87), 
    rgba(0, 0, 0, 0.67) ,
    rgba(70, 5, 48, 0.67) );

}

.sponsors--heading{
    font-size: 2rem;
    padding-top: 5rem ;
    color: #fff;
    font-family: "blackpast";
    /* display: inline; */
    padding-bottom: 0.5rem;
    text-align: center;
}

.grid--container{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(2, 200px);
    color: #fff;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 4rem;
    margin-top: 4rem;
}

.element--container{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.grid--element{
    border: 1px solid rgb(135, 135, 135);
    border-radius: 2rem;
    background: linear-gradient(135deg, #72727256, #3838381b);
    backdrop-filter: blur(5px);
}

.grid--element img{
    height: 30px;
    width: 20px;
}


.grid--container div:nth-child(2){
    grid-row: 1;
    grid-column: 3;
}
.grid--container div:nth-child(3){
    grid-row: 1;
    grid-column: 5;
}
.grid--container div:nth-child(4){
    grid-row: 2;
    grid-column: 2;
}
.grid--container div:nth-child(5){
    grid-row: 2;
    grid-column: 4;
}


/* Trailer */

.trailer{
    min-width: 100%;
    max-width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.trailer h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}


.trailer div:nth-child(1){
    margin-left: 2rem;
}

.trailer div:nth-child(2){
    margin-right: 2rem;
    text-align: center;
}

.trailer div:nth-child(2) p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.trailer div:nth-child(2) p span{
    color: #00ffff;
}

.trailer div:nth-child(2) a{
    color: #fff;
    font-size: 1.2rem;
    border: 0;
    outline: 0;
    border: 1px solid #00ffff;
    border-radius: 5rem;
    padding: 1rem 1rem;
    text-decoration: none;
}

.trailer div:nth-child(2) a:hover{
    cursor: pointer;
    background-color: #00ffff;
    color: #0F3786;
}

.youtube--container{
    width: 560px;
    height: 315px;
}

/* Cultural */

.cultural{
    background-image: url("../assests/Rectangle\ 3.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
}

.cultural h1{
    background-image: linear-gradient(#fff , #e700b5dd );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    font-size: 3rem;
}

.cultural p{
    color: #fff;
    font-size: 2rem;
    margin-right: 10rem;
    margin-left: 10rem;
    margin-top: 3rem;
    background-image: linear-gradient(30deg, #84B9F9, #9936BD, #F27E7E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.cultural--button{
    text-decoration: none;
    color: #84B9F9;
    border: 1px solid #84b9F9;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-top: 10rem;
    font-size: 2rem;
    width: 15rem;
    text-align: center;
    transition: 0.2s all;
}

.cultural--button:hover{
    background-color: #84b9F9;
    color: #fff;
}

/* Responsive */

/* navbar */

@media screen and (max-width: 800px) {
    .hamburger{
        display: block;
        margin-right: 2rem;
    }

    nav{
        flex-direction: column;
    }

    .navbar--elements > ul > li{
        display: block;
        text-align: center;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .navbar--container{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .navbar--section{
        /* display: none; */
        position: absolute;
        top: -100px;
        background-color: #1c0041b1;
        backdrop-filter: blur(5px);
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0;
        transition: 0.3s top;
        z-index: -1;
    }



}

/* @media screen and (max-width: 700px) {
    .navbar--elements{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content:center;
        align-items: center;
        position: absolute;
        top: -110px;
        background-color: #1c0041b1;
        backdrop-filter: blur(5px);
        width: 100%;
        transition: 0.3s top;
        z-index: -1;
    }

    .navbar--elements span{
        margin: 0;
    }

    .navbar{
        flex-direction: column;
        justify-content: center;
    }
    .navbar > div:nth-child(1){
        margin-left: 0;
    }
    
    .navbar > div:nth-child(2){
        margin-right: 0;
    }
    .navbar > div:nth-child(2) > span > a{
        margin-right: 0;
    }
    .navbar > div:nth-child(2) > span:nth-child(3) > a{
        border: 0;
    }
} */

@media screen and (min-width: 400px) and (max-width: 700px) {
    .home h1{
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px) {

    .home h1{
        font-size: 2rem;
    }

    .home h2{
        font-size: 2rem;
    }

    .home--banner{
        font-size: 1.2rem;
    }

    .home--button{
        transform: scale(80%);
    }
}



@media screen and (max-width: 1100px) {
    .home h1{
        font-size: 6rem;
    }
}

/* Sponsors */

@media screen and (max-width: 1100px) {
    .grid--container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    
}

@media screen and (max-width: 650px) {
    .element--container{
        width: 150px;
        height: 150px;
    }

}


/* Trailer */

@media screen and (max-width: 1100px){
    .trailer{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .trailer div:nth-child(2){
        margin-right: 0;
    }

    .trailer h1{
        font-size: 2rem;
    }

    .youtube--container{
        transform: scale(60%);
        margin-left: 0;
    }

    .trailer p{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .trailer div:nth-child(2) p{
        font-size: 1.25rem;
        margin-top: 4rem;
    }

    .trailer div:nth-child(1){
        margin-right: 2rem;
    }
}

/* cultural */
@media screen and (max-width: 700px){

    .cultural h1{
        font-size: 3rem;
    }
    
    .cultural p{
        font-size: 1.25rem;
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .cultural--button{
        width: 10rem;
        font-size: 1rem;
    }
}