*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 62.5%;
}

/* Navbar */

.navbar{
    position: fixed;
    top: -50px;
    z-index: 2;
    display: flex;
    background-color: #1c0041;
    width: 100%;
    justify-content: space-between;
    align-items: center;    
    color: #fff;
    font-family: "Jetbrains mono";
    height: 3rem;
    transition: top 0.3s;
}

.navbar > div:nth-child(1){
    margin-left: 1rem;
}

.navbar > div:nth-child(2){
    margin-right: 1rem;
}

.navbar > div:nth-child(2) > span > a{
    margin-right: 1rem;
    font-size: 1rem;
    user-select: none;
    color: #fff;
    text-decoration: none;
}

.navbar > div:nth-child(2) > span:nth-child(3) > a{
    border: 1px solid #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0;
}

.navbar > div:nth-child(2) > span:hover{
    cursor: pointer;

}


.navbar h1{
    font-family: "Researcher";
    font-size: 1.5rem;
    background-image: linear-gradient(#fff, rgba(255, 255, 255, 0.6));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* Home */

.home{
    background: url("../assests/hero.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home--title{
    text-align: center;

}

.home h1{
    font-family: "Researcher";
    font-size: 8rem;
    background-image: linear-gradient(rgba(207, 197, 197, 0.8) 48.96%, rgba(114, 36, 36, 0.89) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.home h2{
    font-family: "blackpast";
    font-size: 5rem;
    background-image: linear-gradient(rgba(207, 197, 197, 0.8) 48.96%, rgba(114, 36, 36, 0.89) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home--banner{
    text-align: center;
    font-family: "JetBrains mono";
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin-top: 3rem;
}


.home--button{
    font-size: 1.2rem;
    font-family: "JetBrains mono";
    outline: 0;
    border: 3px solid #0F3786;
    border-radius: 2rem;
    color: #fff;
    font-weight: bold;
    padding: 1.2rem 2.5rem;
    margin-top: 8rem;
}


.home--button:hover{
    cursor: pointer;
    background-image: linear-gradient(#0f3786, rgba(103, 15, 134, 0.47));

}

.home a{
    color: #fff;
    text-decoration: none;
}


/* Sponsors */

.sponsors{
    width: 100%;
    height: 100vh;
    background-color: #0f3786;

}


/* Responsive */

@media screen and (max-width: 700px) {

    .home h1{
        font-size: 4rem;
    }

    .home h2{
        font-size: 2rem;
    }

    .home--banner{
        font-size: 1.2rem;
    }

    .home--button{
        transform: scale(80%);
    }
}


@media screen and (max-width: 1100px) {
    .home h1{
        font-size: 4rem;
    }
}